body {
    background-color: #141414;
    font-family: "Noto Sans KR", sans-serif;
    color: #ffffff;
}

.order-container {
    width: 90%;
    max-width: 500px;
    margin: 60px auto;
    background: #1f1f1f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.08);
}

.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 700;
}

label {
    font-size: 15px;
    font-weight: 600;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    background: #333333;
    border: 1px solid #444;
    border-radius: 6px;
    color: #ffffff;
    font-size: 15px;
}

.btn-order {
    width: 100%;
    padding: 14px;
    background-color: #e50914;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.btn-order:hover {
    background-color: #f6121d;
}

.home-link {
    display: block;
    text-align: center;
    color: #999;
    margin-top: 20px;
    font-size: 14px;
    text-decoration: none;
    transition: 0.2s;
}

.home-link:hover {
    color: #fff;
}